# Installation for Pyspark

In [ ]:
!apt-get -y install openjdk-8-jre-headless
!pip install pyspark

# Check Point 1: 0.5 points

Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  libnss-mdns fonts-dejavu-extra fonts-ipafont-gothic fonts-ipafont-mincho
  fonts-wqy-microhei fonts-wqy-zenhei fonts-indic
The following NEW packages will be installed:
  openjdk-8-jre-headless
0 upgraded, 1 newly installed, 0 to remove and 39 not upgraded.
Need to get 28.2 MB of archives.
After this operation, 104 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 openjdk-8-jre-headless amd64 8u292-b10-0ubuntu1~18.04 [28.2 MB]
Fetched 28.2 MB in 1s (19.6 MB/s)
Selecting previously unselected package openjdk-8-jre-headless:amd64.
(Reading database ... 160772 files and directories currently installed.)
Preparing to unpack .../openjdk-8-jre-headless_8u292-b10-0ubuntu1~18.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
Setting up openjdk-8-jre-headless:amd64 (8u292-b10-0ubuntu1~18.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
     |████████████████████████████████| 212.4MB 64kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 19.7MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=6b2bd3f561c66529a540a75874aadc7d1b9e2ab5372fa1b87dd9f1975e0fb05e
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

#### Start a simple Spark Session

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType, StructType, IntegerType, StructField
spark = SparkSession.builder.appName('Warmup').getOrCreate()

Data Schema

In [ ]:
data_schema = [StructField('age',IntegerType(),True),
               StructField('name',StringType(),True)]
final_struc = StructType(fields=data_schema)

Load the people.json gile, have Spark infer the data types.

In [ ]:
df = spark.read.json('people.json',schema=final_struc)

#### What are the column names?

In [ ]:
df.columns

['age', 'name']

#### What is the schema?

In [ ]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

Show whole DataFrame

In [ ]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

Print out the first 2 rows.

In [ ]:
for row in df.head(2):
  print(row)
  print('\n')

Row(age=None, name='Michael')


Row(age=30, name='Andy')

Use describe() to learn about the DataFrame

In [ ]:
df.describe

DataFrame[summary: string, age: string, name: string]

Use another data frame to learn about the statistical report

In [ ]:
temp = df.describe()
temp.show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

There are too many decimal places for mean and stddev in the describe() dataframe.   
How to deal with it?

In [ ]:
from pyspark.sql.functions import format_number

In [ ]:
result = df.describe()
result.select(result['summary'],
              format_number(result['age'].cast('float'),2).alias('age')
              ).show()

+-------+-----+
|summary|  age|
+-------+-----+
|  count| 2.00|
|   mean|24.50|
| stddev| 7.78|
|    min|19.00|
|    max|30.00|
+-------+-----+

Get the mean of age directly

In [ ]:
from pyspark.sql.functions import mean
df.select(mean("age")).show()

+--------+
|avg(age)|
+--------+
|    24.5|
+--------+

What is the max and min of the Volume column?

In [ ]:
from pyspark.sql.functions import max,min
df.select(max("age"),min("age")).show()

+--------+--------+
|max(age)|min(age)|
+--------+--------+
|      30|      19|
+--------+--------+

How many people whose age smaller than 30?

In [ ]:
df.filter("age < 30").count()

1

In [ ]:
from pyspark.sql.functions import count
result = df.filter(df['age'] < 30)
result.select(count('age')).show()

+----------+
|count(age)|
+----------+
|         1|
+----------+

**Check Point - 1 point** 

How many people whose age larger than 18?

In [ ]:
df.filter("age > 18").count()

2